﻿@model Cocus.FlightConfiguration.Application.DTO.FlightDTO

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FlightDTO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameAirportDeparture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameAirportDeparture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameAirportArrive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameAirportArrive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistancieAirports)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistancieAirports)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuelConsumption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuelConsumption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameAircraft)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameAircraft)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirportArriveCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirportArriveCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirportDepartureCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirportDepartureCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityArrive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityArrive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityDeparture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityDeparture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StateArrive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StateArrive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StateDeparture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StateDeparture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryArrive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryArrive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryDeparture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryDeparture)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
