﻿@model Cocus.FlightConfiguration.Application.DTO.FlightDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Flight</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input disabled asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AirportDepartureId" class="control-label"></label>
                <input asp-for="AirportDepartureId" class="form-control" />
                <span asp-validation-for="AirportDepartureId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AirportArriveId" class="control-label"></label>
                <input asp-for="AirportArriveId" class="form-control" />
                <span asp-validation-for="AirportArriveId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AircraftId" class="control-label"></label>
                <input asp-for="AircraftId" class="form-control" />
                <span asp-validation-for="AircraftId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
