﻿@model IEnumerable<Cocus.FlightConfiguration.Application.DTO.FlightDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Flights</h1>

<p>
    <a class="btn btn-success" asp-action="Create">New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameAirportDeparture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameAirportArrive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistancieAirports)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuelConsumption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameAircraft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirportArriveCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirportDepartureCode)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameAirportDeparture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameAirportArrive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistancieAirports)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelConsumption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameAircraft)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AirportArriveCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AirportDepartureCode)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
}
    </tbody>
</table>
