﻿@model Cocus.FlightConfiguration.Application.DTO.AircraftDTO

@{
    ViewData["Title"] = "Create";
}

<h1>New Aircraft</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsumptionPerKm" class="control-label"></label>
                <input asp-for="ConsumptionPerKm" class="form-control" />
                <span asp-validation-for="ConsumptionPerKm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TakeoffEffort" class="control-label"></label>
                <input asp-for="TakeoffEffort" class="form-control" />
                <span asp-validation-for="TakeoffEffort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AverageSpeed" class="control-label"></label>
                <input asp-for="AverageSpeed" class="form-control" />
                <span asp-validation-for="AverageSpeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
