﻿@model Cocus.FlightConfiguration.Application.DTO.AircraftDTO

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsumptionPerKm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsumptionPerKm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TakeoffEffort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TakeoffEffort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AverageSpeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AverageSpeed)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a class="btn btn-info" asp-action="Index">Back to List</a>
    </form>
</div>
