﻿@model IEnumerable<Cocus.FlightConfiguration.Application.DTO.AircraftDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Aircrafts</h1>

<p>
    <a class="btn btn-success" asp-action="Create">New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsumptionPerKm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TakeoffEffort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AverageSpeed)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsumptionPerKm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TakeoffEffort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageSpeed)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new {  id = item.Id  }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
}
    </tbody>
</table>
