﻿@model Cocus.FlightConfiguration.Application.DTO.AirportDTO

@{
    ViewData["Title"] = "Create";
}

<h1>New Airport</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Woeid" class="control-label"></label>
                <input asp-for="Woeid" class="form-control" />
                <span asp-validation-for="Woeid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tz" class="control-label"></label>
                <input asp-for="Tz" class="form-control" />
                <span asp-validation-for="Tz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Runway_Lenght" class="control-label"></label>
                <input asp-for="Runway_Lenght" class="form-control" />
                <span asp-validation-for="Runway_Lenght" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Elev" class="control-label"></label>
                <input asp-for="Elev" class="form-control" />
                <span asp-validation-for="Elev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ICAO" class="control-label"></label>
                <input asp-for="ICAO" class="form-control" />
                <span asp-validation-for="ICAO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direct_Flights" class="control-label"></label>
                <input asp-for="Direct_Flights" class="form-control" />
                <span asp-validation-for="Direct_Flights" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carries" class="control-label"></label>
                <input asp-for="Carries" class="form-control" />
                <span asp-validation-for="Carries" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
